*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

body{
    font-family: 'Poppins', 'sens-serif' ;
}

.wrapper{
    width: 1200px;
    margin: 130px auto;
}
.title{
    text-align: center;
    margin-bottom: 60px;

}

.title h4{
    text-transform: capitalize;
    font-size: 36px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    

}

.title h4 span{
    
    font-size: 18px;
    display: block;
    font-style: italic;
    margin-bottom: 8px;
}

.title h4:before{
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background-color: red;
    bottom: 0;
    /* margin-left: -48px;
    margin-bottom: -30px; */
    left: 50%;
    transform: translateX(-50%);
    
}

.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.single-menu{
    flex-basis: 580px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.single-menu:nth-child(5), .single-menu:nth-child(6){
    border-bottom: 0;
}

.single-menu{
    display: flex;
    flex-direction: row;
}

.image{
    width: 300px;
    border-radius: 50%;
}
.single-menu h4{
    font-size: 30px;
}
.single-menu  p{
    margin-left: 40px;
    margin-top: 30px;
    font-size: 15px;
}

